// Input - Underline -- Not working in global settings
:host {
  .item-interactive.ion-invalid{
    --highlight-background: #dcdcdc !important;
    --highlight-height: 0px;
    --border-color: #dcdcdc !important;
  }

  .item-interactive.ion-valid{
    --highlight-background: #dcdcdc !important;
    --highlight-height: 0px;
    --border-color: #dcdcdc !important;
  }
}

.button-four {
  margin: 0.5rem 1rem 1rem 1rem;
}
