<ion-header>
    <ion-toolbar>
        <ion-title>Handysammlerportal</ion-title>
        <ion-title class="toolbar-subtitle">Passwort zurücksetzen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="input-background">
    <div class="input-block-element">
        <form [formGroup]="formGroup">
            <ion-grid>
                <ion-row>
                    <ion-col size-xl="8" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Neues Passwort</ion-label>
                            <ion-input [type]="bShowPassword ? 'text' : 'password'"
                                       formControlName="cPassword"></ion-input>
                        </ion-item>
                        <ion-row>
                            <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12"class="ion-text-center">
                                <span [ngClass]="((passwordInactive() && !bSubmitted) ? 'password-inactive' : (passwordLength()) ? 'password-valid' : 'password-invalid')">Mindestens 8 Zeichen</span>
                            </ion-col>
                            <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12" class="ion-text-center">
                                <span [ngClass]="((passwordInactive() && !bSubmitted) ? 'password-inactive' : (passwordBigSmall()) ? 'password-valid' : 'password-invalid')">Groß- und Kleinbuchstaben</span>
                            </ion-col>
                            <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12" class="ion-text-center">
                                <span [ngClass]="((passwordInactive() && !bSubmitted) ? 'password-inactive' : (passwordNumber()) ? 'password-valid' : 'password-invalid')">Zahl</span>
                            </ion-col>
                            <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12" class="ion-text-center">
                                <span [ngClass]="((passwordInactive() && !bSubmitted) ? 'password-inactive' : (passwordExtra()) ? 'password-valid' : 'password-invalid')">Sonderzeichen</span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size-xl="4" size-lg="12" size-md="12" size-sm="12" size-xs="12"class="ion-col-button">
                        <ion-button class="button-four"
                                    (click)="onShow()">{{bShowPassword ? 'Passwort nicht anzeigen' : 'Passwort anzeigen'}}</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-row-buttons">
                    <ion-col>
                        <ion-button (click)="onSave()">Speichern</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>
