// Input - Underline -- Not working in global settings
:host {
  .item-interactive.ion-invalid{
    --highlight-background: #FF !important;
  }
  .item-interactive.ion-valid{
    --highlight-background: #FF !important;
  }
}

.button-four {
  margin: 0.5rem 1rem 1rem 1rem;
}
