<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Download-Bereich</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-tabs>

    <ion-tab-bar slot="top">

      <ion-tab-button tab="bills">
        <ion-icon name="logo-euro"></ion-icon>
        <ion-label>Abrechnungen</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="certificates">
        <ion-icon name="ribbon"></ion-icon>
        <ion-label>Urkunden</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="information">
        <ion-icon name="information"></ion-icon>
        <ion-label>Informationen</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="communication">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>Presse & Medien</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="law">
        <ion-icon name="briefcase"></ion-icon>
        <ion-label>Rechtliches</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>
