


.forecast_container{
  flex-wrap: nowrap;
}

ion-grid {
  min-width: 150px !important;
  --min-width: 150px !important;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

ion-col {
  min-width: 150px !important;
  --min-width: 150px !important;
}




