<ion-content class="input-background">
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Filter</span>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label class="input-label">Zeitraum</ion-label>
                        <ion-select [(ngModel)]="cFilter" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                    [selectedText]="cFilter" (ionChange)="onFilter($event)">
                            <ion-select-option *ngFor="let cFilter of lFilter"
                                               [value]="cFilter">{{cFilter}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item *ngIf="cFilter !== 'Gesamt'">
                        <ion-label class="input-label">Auswahl</ion-label>
                        <ion-select [(ngModel)]="cSelect" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                    [selectedText]="cSelect" (ionChange)="onSelect($event)">
                            <ion-select-option *ngFor="let cSelect of lSelect"
                                               [value]="cSelect">{{cSelect}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
    <div class="input-block-element">
        <div class="block-head" *ngIf="lData != null && lData.length > 0">
            <span class="text-head">Auswertung</span>
        </div>
        <ion-grid class="ion-grid-table" *ngIf="lData != null && lData.length > 0">
                <ion-row class="ion-row-table">
                    <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6" [ngClass]="'ion-col-table-header'">
                        <div>
                            {{getColumnName()}}
                        </div>
                    </ion-col>
                    <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6" [ngClass]="'ion-col-table-header'">
                        <div>
                            Handys
                        </div>
                    </ion-col>
                    <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6" [ngClass]="'ion-col-table-header'">
                        <div>
                            Recycelt
                        </div>
                    </ion-col>
                    <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6" [ngClass]="'ion-col-table-header'">
                        <div>
                            Wiederverwendet
                        </div>
                    </ion-col>
                    <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6" [ngClass]="'ion-col-table-header'">
                        <div>
                            Repariert*
                        </div>
                    </ion-col>
                    <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6" [ngClass]="'ion-col-table-header'">
                        <div>
                            Erlöse
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-row-table" *ngFor="let row of lData">
                    <ion-col [ngClass]="'ion-col-table'" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6">
                        <div [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                            {{cFilter === lFilter[0] ? (row.cYear != null ? row.cYear : 'Summe') : (row.nMonth != null ? getMonth(row.nMonth) : 'Summe')}}
                        </div>
                    </ion-col>
                    <ion-col [ngClass]="'ion-col-table'" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6">
                        <div [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                            {{row.nDevices}}
                        </div>
                    </ion-col>
                    <ion-col [ngClass]="'ion-col-table'" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6">
                        <div [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                            {{row.nRecycling}}
                        </div>
                    </ion-col>
                    <ion-col [ngClass]="'ion-col-table'" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6">
                        <div [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                            {{row.nReuse}}
                        </div>
                    </ion-col>
                    <ion-col [ngClass]="'ion-col-table'" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6">
                        <div [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                            {{row.nRepair}}
                        </div>
                    </ion-col>
                    <ion-col [ngClass]="'ion-col-table'" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="6">
                        <div [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                            {{getPayment(row.sPayment)}}
                        </div>
                    </ion-col>
                </ion-row>
        </ion-grid>
        <div class="block-text-information-center" *ngIf="lData != null && lData.length == 0">
            <p [ngClass]="'text-information'">Für diese Auswahl liegen uns leider keine Daten vor</p>
        </div>
    </div>
    <div class="input-block-element" *ngIf="lData != null && lData.length > 0">
        <ion-row class="note">* Aktuell reparieren wir defekte Handys, erfassen diese Zahl jedoch (noch) nicht - Daher findet sich hier ein Wert von 0.
        </ion-row>
    </div>
</ion-content>
