.passwordIcon{
  font-size:2rem !important;
  position: relative !important;
  top: 22px !important;
  margin: 0 auto !important;
}

// Input - Underline -- Not working in global settings
:host {
  .item-interactive.ion-invalid{
    --highlight-background: #FF !important;
  }
  .item-interactive.ion-valid{
    --highlight-background: #FF !important;
  }
}

.button-register {
  margin-bottom: 80px;
}

.button-input {
  align-self: flex-end;
}

.end {
  align-items: flex-end;
}




