<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Handysammlerportal</ion-title>
        <ion-title class="toolbar-subtitle">Registrierung als Sammler</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onInfo()" fill="clear">
                <ion-icon class="toolbar-icon" slot="icon-only" name="information-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="input-background">

    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Sammler</span>
        </div>
        <form [formGroup]="fgCollector">
            <ion-grid>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Sammlername*</ion-label>
                            <ion-input type="text" required formControlName="cName"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cName.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cName.errors?.maxlength" class="input-invalid"
                        >Maximal-Länge von 80 Zeichen überschritten
                        </span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Namenszusatz (Abteilung, ...)
                            </ion-label>
                            <ion-input type="text" formControlName="cNameDetails"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cNameDetails.errors?.maxlength" class="input-invalid"
                        >Maximal-Länge von 80 Zeichen überschritten
                    </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <ion-grid>
            <ion-row>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Bereich/Branche*</ion-label>
                        <ion-select [(ngModel)]="oType" [okText]="'Übernehmen'" [cancelText]="'Abrechen'"
                                    [selectedText]="cType">
                            <ion-select-option *ngFor="let oType of lTypes"
                                               [value]="oType">{{oType.cName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oType == null"
                          class="input-invalid">Pflichtfeld</span>
                </ion-col>
            </ion-row>
        </ion-grid>
        <form [formGroup]="fgCollector">
            <ion-grid>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Straße*</ion-label>
                            <ion-input type="text" formControlName="cStreet"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cStreet.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cStreet.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Nummer*</ion-label>
                            <ion-input type="text" formControlName="cStreetNumber"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cStreetNumber.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cStreetNumber.errors?.maxlength" class="input-invalid">Maximal-Länge von 10 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">PLZ*</ion-label>
                            <ion-input type="text" formControlName="cZip" (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cZip.errors?.required"
                              class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && (errorControl.cZip.errors?.minlength || errorControl.cZip.errors?.maxlength)"
                              class="input-invalid">Ungültige Eingabe</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Stadt*</ion-label>
                            <ion-input type="text" formControlName="cCity" (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cCity.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cCity.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten
                    </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <ion-grid>
            <ion-row>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Bundesland*</ion-label>
                        <ion-select [(ngModel)]="oState" [okText]="'Übernehmen'" [cancelText]="'Abrechen'"
                                    [selectedText]="oState != null ? oState.cNameLocale : ''"
                                    (ionChange)="onChangeAddress()">
                            <ion-select-option *ngFor="let oState of lStates"
                                               [value]="oState">{{oState.cNameLocale}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oState == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Land*</ion-label>
                        <ion-select [(ngModel)]="oCountry" [okText]="'Übernehmen'" [cancelText]="'Abrechen'"
                                    [selectedText]="oCountry != null ? oCountry.cNameLocale : ''"
                                    (ionChange)="onChangeAddress()">
                            <ion-select-option *ngFor="let oCountry of lCountries"
                                               [value]="oCountry">{{oCountry.cNameLocale}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oCountry == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <ion-item class="ion-item-toggle-check">
                        <ion-label [ngClass]="{'ion-text-wrap' : true, 'ion-label-check' : true}">Hiermit bestätige ich, dass ich die <span class="link-one" (click)="onConditions()">Nutzungsbedingungen</span> gelesen habe und diesen
                            zustimme*
                        </ion-label>
                        <ion-checkbox [ngModel]="bConditions" [checked]=bConditions
                                      (ionChange)="changeConditions()"></ion-checkbox>
                    </ion-item>
                    <span *ngIf="bSubmitted && !bConditions" class="input-invalid">Pflichtfeld</span>
                </ion-col>
                <ion-col size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <ion-item class="ion-item-toggle-check">
                        <ion-label [ngClass]="{'ion-text-wrap' : true, 'ion-label-check' : true}">Hiermit bestätige ich, dass ich die <span class="link-one" (click)="onSecurity()">Datenschutzerklärung</span> gelesen habe und diesen
                            zustimme*
                        </ion-label>
                        <ion-checkbox [ngModel]="bSecurity" [checked]=bSecurity
                                      (ionChange)="changeSecurity()"></ion-checkbox>
                    </ion-item>
                    <span *ngIf="bSubmitted && !bSecurity" class="input-invalid">Pflichtfeld</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Ansprechpartner</span>
        </div>
        <form [formGroup]="fgCollector">
            <ion-grid>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Vorname*</ion-label>
                            <ion-input type="text" formControlName="cPrename"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cPrename.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cPrename.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Nachname*</ion-label>
                            <ion-input type="text" formControlName="cSurname"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cSurname.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cSurname.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <ion-grid>
            <ion-row class="ion-row-toggle">
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Titel*</ion-label>
                        <ion-select [(ngModel)]="oTitle" [okText]="'Übernehmen'" [cancelText]="'Abrechen'">
                            <ion-select-option *ngFor="let oTitle of lTitles"
                                               [value]="oTitle">{{oTitle.cName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oTitle == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item class="ion-item-toggle-check">
                        <ion-label class="ion-label-toggle">Persönliche Anrede*</ion-label>
                        <ion-toggle [(ngModel)]="bPersonally" checked="{{bPersonally}}"
                                    [ngModelOptions]="{standalone: true}"
                                    (ionChange)="onToggleFormally($event)"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <form [formGroup]="fgCollector">
            <ion-grid>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">E-Mail Adresse*</ion-label>
                            <ion-input type="text" formControlName="cEmail"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cEmail.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cEmail.errors?.pattern" class="input-invalid">Fehlerhafte Eingabe</span>
                        <span *ngIf="bSubmitted && errorControl.cEmail.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">E-Mail Adresse (CC)</ion-label>
                            <ion-input type="text" formControlName="cEmailCC"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cEmailCC.errors?.pattern" class="input-invalid">Fehlerhafte Eingabe</span>
                        <span *ngIf="bSubmitted && errorControl.cEmailCC.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Telefon (Festnetz)</ion-label>
                            <ion-input type="text" formControlName="cPhoneFixedLine"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cPhoneFixedLine.errors?.maxlength"
                              class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Telefon (Mobil)</ion-label>
                            <ion-input type="text" formControlName="cPhoneMobile"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cPhoneMobile.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Versandadresse</span>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item class="ion-item-toggle-check">
                        <ion-label class="ion-label-check">Adresse übernehmen</ion-label>
                        <ion-checkbox [ngModel]="bAddressIdentical" [checked]=bAddressIdentical
                                      (ionChange)="onAddress($event)"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <form [formGroup]="fgCollector">
            <ion-grid>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Adresszeile 1*</ion-label>
                            <ion-input type="text" formControlName="cShippingAddressOne"
                                       [disabled]="bAddressIdentical"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingAddressOne.errors?.required"
                              class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingAddressOne.errors?.maxlength"
                              class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Adresszeile 2</ion-label>
                            <ion-input type="text" formControlName="cShippingAddressTwo"
                                       [disabled]="bAddressIdentical"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingAddressTwo.errors?.maxlength"
                              class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Adresszeile 3</ion-label>
                            <ion-input type="text" formControlName="cShippingAddressThree"
                                       [disabled]="bAddressIdentical"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingAddressThree.errors?.maxlength"
                              class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Straße*</ion-label>
                            <ion-input type="text" formControlName="cShippingStreet"
                                       [disabled]="bAddressIdentical"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingStreet.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingStreet.errors?.maxlength"
                              class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Nummer*</ion-label>
                            <ion-input type="text" formControlName="cShippingStreetNumber"
                                       [disabled]="bAddressIdentical"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingStreetNumber.errors?.required"
                              class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingStreetNumber.errors?.maxlength"
                              class="input-invalid">Maximal-Länge von 10 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">PLZ*</ion-label>
                            <ion-input type="text" formControlName="cShippingZip"
                                       [disabled]="bAddressIdentical"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingZip.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && (errorControl.cZip.errors?.minlength || errorControl.cShippingZip.errors?.maxlength)"
                              class="input-invalid">Ungültige Eingabe</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Stadt*</ion-label>
                            <ion-input type="text" formControlName="cShippingCity"
                                       [disabled]="bAddressIdentical"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingCity.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingCity.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingCity.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <ion-grid>
            <ion-row>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Land*</ion-label>
                        <ion-select [(ngModel)]="oShippingCountry" [okText]="'Übernehmen'" [cancelText]="'Abrechen'"
                                    [selectedText]="oShippingCountry != null ? oShippingCountry.cNameLocale : ''"
                                    [disabled]="bAddressIdentical">
                            <ion-select-option *ngFor="let oShippingCountry of lCountries"
                                               [value]="oShippingCountry">{{oShippingCountry.cNameLocale}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oShippingCountry == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Sicherheit</span>
        </div>
        <form [formGroup]="fgCollector">

            <ion-grid>
                <ion-row class="end">
                    <ion-col size-xl="8" size-lg="8" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full" class="ion-item">
                            <ion-label class="input-label" position="floating">Passwort*</ion-label>
                            <ion-input formControlName="cPassword" [type]="bShowPassword ? 'text' : 'password'"
                                       clearOnEdit="false"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
                        <ion-button (click)="showPassword()" class="button-four">{{bShowPassword ? 'Passwort nicht anzeigen' : 'Passwort anzeigen'}}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
        <ion-grid>
            <ion-row>
                <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="6" class="ion-text-center">
                    <span [ngClass]="((passwordInactive() && !bSubmitted) ? 'password-inactive' : (passwordLength()) ? 'password-valid' : 'password-invalid')">Mindestens 8 Zeichen</span>
                </ion-col>
                <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="6" class="ion-text-center">
                    <span [ngClass]="((passwordInactive() && !bSubmitted) ? 'password-inactive' : (passwordBigSmall()) ? 'password-valid' : 'password-invalid')">Groß- und Kleinbuchstaben</span>
                </ion-col>
                <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="6" class="ion-text-center">
                    <span [ngClass]="((passwordInactive() && !bSubmitted) ? 'password-inactive' : (passwordNumber()) ? 'password-valid' : 'password-invalid')">Zahl</span>
                </ion-col>
                <ion-col size-xl="2" size-lg="2" size-md="6" size-sm="6" size-xs="6" class="ion-text-center">
                    <span [ngClass]="((passwordInactive() && !bSubmitted) ? 'password-inactive' : (passwordExtra()) ? 'password-valid' : 'password-invalid')">Sonderzeichen</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Partner (Spendenempfänger)</span>
            <mat-icon class="icon-head"
                      matTooltip="Mobile-Box spendet bis zu 2 € pro Handy an den von dir ausgewählten Partner">info
            </mat-icon>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label class="input-label">Partnername*</ion-label>
                        <ion-select [disabled]="!bChangePartner" [(ngModel)]="oPartner" [okText]="'Übernehmen'"
                                    [cancelText]="'Abrechen'"
                                    [selectedText]="oPartner != null ? oPartner.cName : ''">
                            <ion-select-option *ngFor="let oPartner of lPartner"
                                               [value]="oPartner">{{oPartner.cName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oPartner == null"
                          class="input-invalid">Pflichtfeld</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="input-block-element">
        <ion-row class="note">Hinweis: Pflichtfelder sind mit einem Sternchen (*) markiert.
        </ion-row>
    </div>
    <div class="simple-background">
        <div class="ion-text-center">
            <ion-button class="ion-button-outside" (click)="register()">Registrieren</ion-button>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <app-footer></app-footer>
</ion-content>

