<div class="footer">
  <span class="footer-element-title">©2021 Handysammlerportal | Powered by <span class="footer-element-link" (click)="onMobileBox()">&nbsp;Mobile-Box</span></span>
  <span class="footer-element"><span class="footer-element-link" (click)="onImpressum()">Impressum&nbsp;</span > | <span class="footer-element-link" (click)="onSecurity()">&nbsp;Datenschutzerklärung&nbsp;</span> | <span class="footer-element-link" (click)="onTermsOfUse()">&nbsp;Nutzungsbedingungen&nbsp;</span></span>
</div>
