<ion-header>
  <ion-toolbar>
    <ion-title>Handysammlerportal</ion-title>
    <ion-title class="toolbar-subtitle">Registrierung abgeschlossen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="input-background">
<div class="input-block-element">
  <div class="block-head">
    <span class="text-head">Geschafft</span>
  </div>
  <div class="text-block">
    <p class="text-secondary">Du hast dich erfolgreich registriert. <span class="link" (click)="onInformation()">Hier</span> erhältst du einen ersten Überblick
    zu den wichtigsten Funktionen des Handysammlerportals.</p>
  </div>
  <ion-grid>
    <ion-row class="ion-row-buttons">
      <ion-col>
        <ion-button (click)="onLogin()">Zurück zur Anmeldung</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
