<ion-content class="input-background">
  <div class="input-block-element">
    <div class="block-head">
      <span class="text-head">Dokumente</span>
    </div>
    <div class="block-text">
      <p (click)="onLegalStatement()"><span class="link">Rechtliche Grundlage</span></p>
      <p (click)="onDataPrivacy()"><span class="link">Datenschutz</span></p>
      <p (click)="onPrivacyPolicy()"><span class="link">Datenschutzerklärung</span></p>
      <p (click)="onTermsOfUse()"><span class="link">Nutzungsbedingungen</span></p>
    </div>
  </div>
</ion-content>
