<!--
    <ion-grid class="item-background">
        <ion-row class="ion-row-header">
            <ion-col class="col-header" size-xl="3" size-lg="3" size-md="12" size-sm="12" size-xs="12">
                <span class="item-top-title-main">Bestellnummer</span>
                <span class="item-top-subtitle-main">{{oOrder.id}}</span>
            </ion-col>
            <ion-col class="col-header" size-xl="3" size-lg="3" size-md="12" size-sm="12" size-xs="12">
                <span class="item-top-title">Bestellmenge</span>
                <span class="item-top-subtitle">{{(oOrder.nBox > 0 ? oOrder.nBox + 'Box | ' : oOrder.nBricolage + 'Box | ') + oOrder.nFlyer + ' Flyer | ' + oOrder.nPoster + ' Poster'}}</span>
            </ion-col>
            <ion-col class="col-header" size-xl="3" size-lg="3" size-md="12" size-sm="12" size-xs="12">
                <span class="item-top-title">Bestelldatum</span>
                <span class="item-top-subtitle">{{getDate(oOrder.dCreation)}}</span>
            </ion-col>
            <ion-col class="col-header" size-xl="3" size-lg="3" size-md="12" size-sm="12" size-xs="12">
                <span class="item-top-title">Sendungsstatus</span>
                <span class="item-top-subtitle">{{oOrder.tStatus == 0 ? "Nicht versendet" : oOrder.tStatus == 1 ? "Versendet" : oOrder.tStatus == 2 ? "Zugestellt" : oOrder.tStatus == 3 ? "Konnte nicht zugestellt werden" : ""}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col  class="ion-col-buttons" size-xl="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                <ion-button *ngIf="oOrder.tStatus == 0" class=ion-button-three-inside-delete (click)="onDelete()">Bestellung stornieren</ion-button>
                <ion-button *ngIf="oOrder.tStatus > 0" class=ion-button-three-inside (click)="onTracking()">Sendungsverfolgung anzeigen</ion-button>
                <ion-button *ngIf="oOrder.tStatus == 2" class=ion-button-three-inside (click)="onSend()">Gesammelte Handys versenden</ion-button>
            </ion-col>
        </ion-row>
        <div *ngIf="oOrder.bMerge == 1 || oOrder.bSplit == 1" class="item_divider"></div>
        <ion-row *ngIf="oOrder.bMerge == 1 || oOrder.bSplit == 1">
            <span class="item_note">{{oOrder.bMerge == 1 && oOrder.bSplit == 1 ? 'Die ursprüngliche Bestellung wurde in mehrere Teilbestellungen aufgeteilt. Zusätzlich wurde ein Teil oder die Gesamtmenge einer anderen Bestellung hinzugefügt' : oOrder.bMerge == 1 ? 'Zu dieser Sendung wurde ein Teil oder die Gesamtmenge einer anderen Bestellung hinzugefügt' : oOrder.bSplit == 1 ? 'Die ursprüngliche Bestellung wurde in mehrere Teilbestellungen aufgeteilt' : ''}}</span>
        </ion-row>
    </ion-grid>
-->

<ion-grid class="item-background">
    <ion-row>
        <ion-col class="item-left" size-xl="3" size-lg="3" size-md="12" size-sm="12" size-xs="12">
            <span class="item-left-text">{{oOrder.tStatus == 0 ? "NICHT VERSENDET" : oOrder.tStatus == 1 ? "VERSENDET" : oOrder.tStatus == 2 ? "ZUGESTELLT" : oOrder.tStatus == 3 ? "NICHT ZUGESTELLT" : ""}}</span>
            <!-- <div class="item-divider-vertical-left"></div> -->
        </ion-col>
        <ion-col class="item-middle" size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
            <span class="item-title">{{(oOrder.nBox > 0 ? oOrder.nBox > 1 ? oOrder.nBox + ' Sammelboxen &nbsp;&#183;&nbsp; ' : ' 1 Sammelbox &nbsp;&#183;&nbsp; ' : oOrder.nBricolage > 0 ? oOrder.nBricolage > 1 ? oOrder.nBricolage + ' Sammelboxen &nbsp;&#183;&nbsp; ' : '1 Sammelbox &nbsp;&#183;&nbsp; ' : '') + oOrder.nFlyer + ' Flyer &nbsp;&#183;&nbsp; ' + oOrder.nPoster + ' Poster'}}</span>
            <span class="item-subtitle">Bestellt am <b>{{getDate(oOrder.dCreation)}} | {{oOrder.tStatus}}Voraussichtliche Zustellung </b></span>
        </ion-col>
        <ion-col class="item-right" size-xl="3" size-lg="3" size-md="12" size-sm="12" size-xs="12">
            <mat-icon *ngIf="oOrder.tStatus == 0" class="item-icon-delete" (click)="onDelete()" matTooltip="Bestellung Löschen">close</mat-icon>
            <mat-icon *ngIf="oOrder.tStatus > 0" class="item-icon-default" (click)="onSearch()" matTooltip="DHL-Sendungsverfolgung anzeigen">search</mat-icon>
        </ion-col>
    </ion-row>
    <div *ngIf="oOrder.bMerge == 1 || oOrder.bSplit == 1" class="item-divider-horizontal"></div>
    <ion-row *ngIf="oOrder.bMerge == 1 || oOrder.bSplit == 1">
        <span class="item_note">{{oOrder.bMerge == 1 && oOrder.bSplit == 1 ? 'Die ursprüngliche Bestellung wurde in mehrere Teilbestellungen aufgeteilt. Zusätzlich wurde ein Teil oder die Gesamtmenge einer anderen Bestellung hinzugefügt' : oOrder.bMerge == 1 ? 'Zu dieser Sendung wurde ein Teil oder die Gesamtmenge einer anderen Bestellung hinzugefügt' : oOrder.bSplit == 1 ? 'Die ursprüngliche Bestellung wurde in mehrere Teilbestellungen aufgeteilt' : ''}}</span>
    </ion-row>

</ion-grid>
