<ion-content class="input-background">
    <div *ngIf="!spinner" class="input-block-element">
        <div *ngIf="!orderTaken" class="block-head">
            <span class="text-head">Neue Bestellung</span>
        </div>
        <div *ngIf="!orderTaken">
            <ion-grid>
                <ion-row>
                    <ion-col *ngIf="oBox != null && oBox.bAvailable == 1" [sizeXl]="6" [sizeLg]="6" [sizeMd]="12" [sizeSm]="12" [sizeXs]="12">
                        <ion-item>
                            <ion-label>{{(oBox != null && oBox.nStock > 0) ? 'Mobile-Box' : 'Mobile-Box (Nicht auf Lager)'}}</ion-label>
                            <ion-select [cancelText]="'Zurück'" [(ngModel)]="boxOrder" [compareWith]="compare" [disabled]="oBox.nStock == 0 || oBox.orderMax == 0" (ionChange)="onChangedBoxOrder()">
                                <ion-select-option *ngFor="let boxOrder of boxChoice" [value]="boxOrder">{{boxOrder}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col *ngIf="oBricolage != null && ((oBricolage.bAvailable  == 1 && oBox.bAvailable == 1 && oBox.nStock == 0) || (oBox.bAvailable == 0 && oBricolage.bAvailable == 1))"
                             [sizeXl]="6" [sizeLg]="6" [sizeMd]="12" [sizeSm]="12" [sizeXs]="12">
                        <ion-item>
                            <ion-label>{{(oBricolage != null && oBricolage.nStock > 0) ? (oBricolage.maxOrder > 0 ? 'Bastel-Set' : 'Bastel-Set (Limit erreicht)*') : 'Bastel-Set (Nicht auf Lager)'}}</ion-label>
                            <ion-select [cancelText]="'Zurück'" [(ngModel)]="bricolageOrder" [compareWith]="compare" [disabled]="oBricolage.nStock == 0 || oBricolage.maxOrder == 0"
                                        (ionChange)="onChangedBricolageOrder()">
                                <ion-select-option *ngFor="let bricolageOrder of bricolageChoice" [value]="bricolageOrder">{{bricolageOrder}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item>
                            <ion-label>Flyer</ion-label>
                            <ion-select [cancelText]="'Zurück'" [(ngModel)]="flyerOrder" [compareWith]="compare"
                                        [disabled]="flyerAvailable == 0" (ionChange)="onChangedFlyerOrder()">
                                <ion-select-option *ngFor="let flyerOrder of flyerChoice"
                                                   [value]="flyerOrder">{{flyerOrder}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item>
                            <ion-label>Poster</ion-label>
                            <ion-select [cancelText]="'Zurück'" [(ngModel)]="posterOrder" [compareWith]="compare" [disabled]="posterAvailable == 0"
                                        (ionChange)="onChangedPosterOrder()">
                                <ion-select-option [ngClass]="'.ion-select-option'" *ngFor="let posterOrder of posterChoice"
                                                   [value]="posterOrder">{{posterOrder}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="block-text-information" *ngIf="(boxMax > 0 && boxAvailable == 0) || (bricolageMax > 0 && bricolageAvailable == 0) || flyerAvailable == 0 || posterAvailable == 0">
                <p [ngClass]="'text-information'">Du hast Dein jährliches Bestell-Limit teilweise oder komplett erreicht.</p>
            </div>
            <ion-row class="ion-row-buttons">
                <ion-col>
                    <ion-button [disabled]="!(boxOrder > 0 || bricolageOrder > 0 || flyerOrder > 0 || posterOrder > 0)" class=ion-button-one-inside (click)="onOrder()">Bestellen</ion-button>
                </ion-col>
            </ion-row>
        </div>

        <div class="block-text-information" *ngIf="(orderTaken && !spinner)">
            <p (click)="onClickPageInformation()" [ngClass]="'text-information-pointer'">Vielen Dank für Deine Bestellung. In der "Bestell-Historie" kannst Du Dich jederzeit über den Status Deiner
                Bestellung informieren.</p>
        </div>
    </div>
    <div class="input-block-element">
        <ion-row *ngIf="data != null && data.nLocations == 0" class="note">* Um deine erste Sammelbox (Mobile-Box oder Bastel-Set) bestellen zu können, bitten wir dich zunächst den Sammelstandort mit
            Namen und Adresse im Handysammlerportal einzutragen. Du kannst dies&nbsp;<a
                    class="link-one" [routerLink]="['/collector/menu/data/tabs/locations']">hier</a>&nbsp;tun.
        </ion-row>
    </div>
    <ion-spinner *ngIf="spinner" name="bubbles"></ion-spinner>
</ion-content>
