<ion-content class="input-background">
    <ion-grid>
    <div class="block-element-top">
        <div class="block-head">
            <span class="text-head">Dokumente</span>
        </div>
        <div class="block-text">
                <p (click)="onModelPressRelease()"><span class="link-two">Muster-Pressemitteilung</span></p>
        </div>
    </div>
    </ion-grid>

    <ion-grid>
    <div class="block-element">
        <div class="block-head">
            <span class="text-head">Flyer</span>
        </div>
        <div class="block-text">
            <p *ngFor="let flyer of lFlyer" (click)="onFlyer(flyer.id)"><span class="link-two">{{flyer.cName}}</span>
            </p>
        </div>
    </div>
    </ion-grid>

    <ion-grid>
    <div class="block-element-bottom">
        <div class="block-head">
            <span class="text-head">Poster</span>
        </div>
        <div class="block-text">
            <p *ngFor="let poster of lPoster" (click)="onPoster(poster.id)"><span class="link-two">{{poster.cName}}</span>
            </p>
        </div>
    </div>
    </ion-grid>
</ion-content>
