<ion-header>
    <ion-toolbar>
        <ion-title>ResetPassword</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
        <ion-item lines="full" class="ion-item">
            <ion-label position="floating">E-Mail Adresse</ion-label>
            <ion-input type="text" required formControlName="inputEmail"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-button class="ion-button" type="submit">Passwort zurücksetzen</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
