<ion-header>
  <ion-toolbar>
    <ion-title>Handysammlerportal
      <p class="toolbar-subtitle">Bestätigungs-Link ungültig</p></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="input-background">
  <div class="input-block-element">
    <div class="block-head">
      <span class="text-head">Hier ist etwas schief gelaufen</span>
    </div>
    <div class="block-text">
      <p class="text-secondary">Bitte klicke auf folgenden Button um einen neuen Bestätigungs-Link per E-Mail zu erhalten
      Beachte, dass dieser nur für einen begrenzten Zeitraum gültig ist.</p>
    </div>
    <ion-grid>
      <ion-row class="ion-row-buttons">
        <ion-col>
          <ion-button (click)="onMail()">Bestätigungs-Link erneut zusenden</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
