<ion-content class="input-background">
    <div class="input-block-element">
        <ion-row>
            <ion-col>
                <ion-row class="text-head">Einstellungen</ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="input-label">Filter</ion-label>
                    <ion-select [(ngModel)]="cFilter" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cFilter" (ionChange)="onFilter($event)">
                        <ion-select-option *ngFor="let cFilter of lFilter"
                                           [value]="cFilter">{{cFilter}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item *ngIf="cFilter !== 'Gesamt'">
                    <ion-label class="input-label">Auswahl</ion-label>
                    <ion-select [(ngModel)]="cSelect" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cSelect" (ionChange)="onSelect($event)">
                        <ion-select-option *ngFor="let cSelect of lSelect"
                                           [value]="cSelect">{{cSelect}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
    <div class="input-block-element">
        <ion-row>
            <ion-col>
                <ion-row class="text-head">Auswertung</ion-row>
            </ion-col>
        </ion-row>
        <ion-grid class="ion-content-table">
            <ion-row>
                <ion-col [ngClass]="'ion-col-table-header'" size="2">
                    <div>
                        {{getColumnName()}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'" size="2">
                    <div>
                        Gold
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'" size="2">
                    <div>
                        Silber
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'" size="2">
                    <div>
                        Kupfer
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'" size="2">
                    <div>
                        Eingespartes CO2*
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'">
                    <div>
                        Eingesparte Ressourcen**
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let row of lData">
                <ion-col [ngClass]="'ion-col-table'" size="2">
                    <div  [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                        {{cFilter === lFilter[0] ? (row.cYear != null ? row.cYear : 'Summe') : (row.nMonth != null ? getMonth(row.nMonth) : 'Summe')}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'" size="2">
                    <div  [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                        {{(transGramm(row.gGold)).value}} {{transGramm(row.gGold).unit}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'" size="2">
                    <div  [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                        {{(transGramm(row.gGold)).value}} {{transGramm(row.gGold).unit}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'" size="2">
                    <div  [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                        {{(transGramm(row.gGold)).value}} {{transGramm(row.gGold).unit}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'" size="2">
                    <div  [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                        {{(transGramm(row.gGold)).value}} {{transGramm(row.gGold).unit}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'">
                    <div [ngClass]="{bold : row.cYear == null && row.nMonth == null}">
                        {{(transGramm(row.gGold)).value}} {{transGramm(row.gGold).unit}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
