
/*
.ion-item {
  max-width: 60% !important;
  margin: 20px auto;
  --highlight-color-invalid: #cbcbcb;
  --highlight-color-valid: #c0c9a9;
}
 */

// Input - Underline -- Not working in global settings
:host {
  .item-interactive.ion-invalid{
    --highlight-background: #FF !important;
  }
  .item-interactive.ion-valid{
    --highlight-background: #FF !important;
  }
}



