<ion-header>
    <ion-toolbar>
        <ion-title>Handysammlerportal</ion-title>
        <ion-title class="toolbar-subtitle">Entwickelt von Mobile-Box</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onInfo()" fill="clear">
                <ion-icon class="toolbar-icon" slot="icon-only" name="information-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Default Segment -->

<ion-content [ngClass]="{'ion-margin-vertical': true, 'input-background': true}">
    <div class="input-block-element">
        <ion-segment [(ngModel)]="selectedRole" (ionChange)="segmentChanged($event)">
            <ion-segment-button value=1>
                <ion-label>Sammler</ion-label>
            </ion-segment-button>
            <ion-segment-button value=2>
                <ion-label>Partner</ion-label>
            </ion-segment-button>
        </ion-segment>
        <br/>

        <div [ngSwitch]="selectedRole">
            <form *ngSwitchCase="1" [formGroup]="loginFormCollector" (ngSubmit)="onLoginCollector()">
                <ion-grid>
                    <ion-row>
                        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                            <ion-item lines="full">
                                <ion-label class="input-label" position="floating">E-Mail</ion-label>
                                <ion-input type="text" required formControlName="cEmail"></ion-input>
                            </ion-item>
                            <span *ngIf="bSubmittedCollector && errorControlCollector.cEmail.errors?.required" class="input-invalid">Pflichtfeld</span>
                            <span *ngIf="bSubmittedCollector && errorControlCollector.cEmail.errors?.pattern" class="input-invalid">Fehlerhafte Eingabe</span>
                            <span *ngIf="bSubmittedCollector && errorControlCollector.cEmail.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                        </ion-col>
                        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                            <ion-item lines="full">
                                <ion-label class="input-label" position="floating">Passwort</ion-label>
                                <ion-input type="password" formControlName="cPassword" required></ion-input>
                            </ion-item>
                            <span *ngIf="bSubmittedCollector && errorControlCollector.cPassword.errors?.required" class="input-invalid">Pflichtfeld</span>
                            <span *ngIf="bSubmittedCollector && errorControlCollector.cPassword.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                        </ion-col>
                    </ion-row>

                    <br/>

                    <ion-row class="ion-row-buttons">
                        <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
                            <ion-button class=ion-button-one-inside type="submit">Anmelden</ion-button>
                        </ion-col>
                        <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
                            <ion-button class=ion-button-three (click)="onResetPassword()">Passwort vergessen
                            </ion-button>
                        </ion-col>
                        <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
                            <ion-button class=ion-button-three (click)="navRegisterCollector()">Registrieren
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
            <form *ngSwitchCase="2" [formGroup]="loginFormPartner" (ngSubmit)="onLoginCollector()">
                <ion-grid>
                    <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full" [class.ion-invalid]=true>
                            <ion-label position="floating">E-Mail</ion-label>
                            <ion-input class="input-label" type="text" required formControlName="cEmail"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label position="floating">Passwort</ion-label>
                            <ion-input class="input-label" type="password" formControlName="cPassword" required></ion-input>
                        </ion-item>
                    </ion-col>
                    </ion-row>

                    <br/>


                    <ion-row class="ion-row-buttons">
                        <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
                            <ion-button disabled="true" class=ion-button-one-inside type="submit">Anmelden</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </div>
    </div>
    <app-footer class="lower-content"></app-footer>
</ion-content>

