<ion-header>
  <ion-toolbar>
    <ion-title>Handysammlerportal | By Mobile-Box</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Default Segment -->

<ion-content class="ion-margin-vertical">
  <ion-segment [(ngModel)]="selectedRole" (ionChange)="segmentChanged($event)">
    <ion-segment-button value=0>
      <ion-label>Sammler</ion-label>

    </ion-segment-button>
    <ion-segment-button value=1>
      <ion-label>Partner</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedRole">
    <form *ngSwitchCase="0" [formGroup]="loginFormCollector" (ngSubmit)="onLoginCollector()">
      <ion-item lines="full" class="ion-item">
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input type="text" required formControlName="email"></ion-input>
      </ion-item>
      <ion-item lines="full" class="ion-item">
        <ion-label position="floating">Passwort</ion-label>
        <ion-input type="text" formControlName="password" required></ion-input>
      </ion-item>

      <ion-row class="ion-row">
        <ion-col class="ion-text-center">
          <ion-button class=ion-button type="submit">Anmelden</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button class=ion-button-two (click)="onResetPassword()">Passwort vergessen</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button class=ion-button-two (click)="navRegisterCollector()">Registrieren</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <form *ngSwitchCase="1" [formGroup]="loginFormPartner" (ngSubmit)="onLoginCollector()">
    <ion-item lines="full" class="ion-item" [class.ion-invalid]=true>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>
    <ion-item lines="full" class="ion-item">
      <ion-label position="floating">Passwort</ion-label>
      <ion-input type="text" formControlName="password" required></ion-input>
    </ion-item>

    <ion-row class="ion-row">
      <ion-col class="ion-text-center">
        <ion-button class=ion-button type="submit">Anmelden</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class=ion-button-two (click)="onResetPassword()">Passwort vergessen</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </div>
</ion-content>

