<ion-header>
  <ion-toolbar>
    <ion-title>Handysammlerportal | By Mobile-Box</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Default Segment -->

<ion-content class="ion-margin-vertical">
  <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
    <ion-segment-button value=0>
      <ion-label>Sammler</ion-label>

    </ion-segment-button>
    <ion-segment-button value=1>
      <ion-label>Partner</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <form *ngSwitchCase="0" [formGroup]="loginFormCollector" (ngSubmit)="onLoginCollector()">
      <ion-item lines="full" class="ion-item">
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input type="text" required formControlName="email"></ion-input>
      </ion-item>
      <ion-item lines="full" class="ion-item">
        <ion-label position="floating">Passwort</ion-label>
        <ion-input type="text" formControlName="password" required></ion-input>
      </ion-item>

      <ion-row class="ion-row">
        <ion-col>
          <ion-button type="submit">Anmelden</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class=".ion_button"(click)="onResetPassword()">Passwort vergessen</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class=".ion_button"(click)="navRegisterCollector()">Registrieren</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <p *ngSwitchCase="1">Partner</p>
  </div>
</ion-content>

