<ion-content class="input-background">
  <div class="input-block-element">
    <div class="block-head">
      <span class="text-head">Angaben gemäß §5 Telemediengesetz</span>
    </div>

    <div class="block-text">
      <p class="text"><b>Schumacher & von Pidoll GmbH</b><br/>
        Vogelsanger-Straße 282<br/>
        50825 Köln<br/>
      <p class="text"><b>Vertreten durch die Geschäftsführer:</b><br/>
        Till von Pidoll und Eric Schumacher</p>
      <p class="text-secondary"><b>Eingetragen im Handelsregister des Amtsgerichtes Köln</b><br/>
        Handelsregisternummer: HRB 92081<br/>
        Umsatzsteuer-Identifikationsnummer: DE323700310</p>
    </div>
  </div>

  <div class="input-block-element">
    <div class="block-head">
      <span class="text-head">Kontakt</span>
    </div>

    <div class="block-text">
      <p class="text"><b>Eric Schumacher</b><br/>
        Telefon: (+49)221-168930-45<br/>
        E-Mail: sammlung@mobile-box.eu</p>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
</ion-content>
