<ion-content class="input-background">
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Sammler</span>
        </div>
        <ion-grid>
            <form [formGroup]="fgCollector">
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Sammlername*</ion-label>
                            <ion-input type="text" formControlName="cName" (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cName.errors?.required"
                              class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cName.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Namenszusatz (Abteilung, ...)</ion-label>
                            <ion-input type="text" formControlName="cNameDetails" (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cNameDetails.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
            </form>
            <ion-row>
                <ion-col size-xl="6" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Bereich/Branche*</ion-label>
                        <ion-select [(ngModel)]="oType" [okText]="'Übernehmen'" [cancelText]="'Abrechen'" [selectedText]="oType != null ? oType.cName : ''" (ionChange)="onChange()">
                            <ion-select-option *ngFor="let oType of lTypes" [value]="oType">{{oType.cName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oType == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
            </ion-row>
            <form [formGroup]="fgCollector" (ngSubmit)="onSave()">
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Straße*</ion-label>
                            <ion-input type="text" formControlName="cStreet"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cStreet.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cStreet.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Nummer*</ion-label>
                            <ion-input type="text" formControlName="cStreetNumber"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cStreetNumber.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cStreetNumber.errors?.maxlength" class="input-invalid">Maximal-Länge von 10 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">PLZ*</ion-label>
                            <ion-input type="text" formControlName="cZip" (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cZip.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && (errorControl.cZip.errors?.minlength || errorControl.cZip.errors?.maxlength)" class="input-invalid">Ungültige Eingabe</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Stadt*</ion-label>
                            <ion-input type="text" formControlName="cCity" (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cCity.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cCity.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
            </form>
            <ion-row>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Land*</ion-label>
                        <ion-select [(ngModel)]="oCountry" [okText]="'Übernehmen'" [cancelText]="'Abrechen'"
                                    [selectedText]="oCountry != null ? oCountry.cNameLocale : ''"
                                    (ionChange)="onChangeAddress()">
                            <ion-select-option *ngFor="let oCountry of lCountries" [value]="oCountry">{{oCountry.cNameLocale}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oCountry == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Bundesland*</ion-label>
                        <ion-select [(ngModel)]="oState" [okText]="'Übernehmen'" [cancelText]="'Abrechen'"
                                    [selectedText]="oState != null ? oState.cNameLocale : ''"
                                    (ionChange)="onChangeAddress()">
                            <ion-select-option *ngFor="let oState of lStates"
                                               [value]="oState">{{oState.cNameLocale}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oState == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Ansprechpartner</span>
        </div>
        <ion-grid>
            <form [formGroup]="fgCollector" (ngSubmit)="onSave()">
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Vorname*</ion-label>
                            <ion-input type="text" formControlName="cPrenamePerson"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cPrenamePerson.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cPrenamePerson.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Nachname*</ion-label>
                            <ion-input type="text" formControlName="cSurnamePerson"
                                       (ionChange)="onChangeAddress()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cSurnamePerson.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cSurnamePerson.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
            </form>
            <ion-row class="ion-row-toggle">
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Titel*</ion-label>
                        <ion-select [(ngModel)]="oTitle" [okText]="'Übernehmen'" [cancelText]="'Abrechen'"
                                    [selectedText]="oTitle" (ionChange)="onChange()">
                            <ion-select-option *ngFor="let cTitle of lTitles"
                                               [value]="cTitle.cName">{{cTitle.cName}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oTitle == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
                <ion-col  size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item class="ion-item-toggle-check">
                        <ion-label class="ion-label-toggle">Persönliche Anrede*</ion-label>
                        <ion-toggle [(ngModel)]="bFormally" [ngModelOptions]="{standalone: true}" (ionChange)="onToggleFormally($event)"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
            <form [formGroup]="fgCollector">
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">E-Mail Adresse*</ion-label>
                            <ion-input [disabled]="true" type="text" formControlName="cEmail" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cEmail.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cEmail.errors?.pattern" class="input-invalid">Fehlerhafte Eingabe</span>
                        <span *ngIf="bSubmitted && errorControl.cEmail.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">E-Mail Adresse (CC)</ion-label>
                            <ion-input type="text" formControlName="cEmailCC" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cEmailCC.errors?.pattern" class="input-invalid">Fehlerhafte Eingabe</span>
                        <span *ngIf="bSubmitted && errorControl.cEmailCC.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Telefon (Festnetz)</ion-label>
                            <ion-input type="text" formControlName="cPhoneFixedLine" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cPhoneFixedLine.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Telefon (Festnetz)</ion-label>
                            <ion-input type="text" formControlName="cPhoneMobile" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cPhoneMobile.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
            </form>
        </ion-grid>
    </div>
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Sicherheit</span>
        </div>
        <ion-row class="ion-row-buttons">
            <ion-col>
                <ion-button class="ion-button-two-inside" (click)="onPassword()">Neues Passwort vergeben</ion-button>
            </ion-col>
        </ion-row>
    </div>
    <div class="input-block-element">
        <div class="block-head">
            <span class="text-head">Versandadresse</span>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size-xl="6" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <ion-item class="ion-item-toggle-check">
                        <ion-label class="ion-label-check">Adresse übernehmen</ion-label>
                        <ion-checkbox [ngModel]="bAddressIdentSelected" [checked]=bAddressIdentSelected
                                      (ionChange)="onChangeAddressIdent($event)"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <form [formGroup]="fgCollector" (ngSubmit)="onSave()">
                <ion-row>
                    <ion-col size-xl="6" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Adresszeile 1*</ion-label>
                            <ion-input type="text" formControlName="cShippingAddressOne"
                                       [disabled]="bAddressIdentSelected" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingAddressOne.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingAddressOne.errors?.maxlength" class="input-invalid">Maximal-Länge von 80 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Adresszeile 2</ion-label>
                            <ion-input type="text" formControlName="cShippingAddressTwo"
                                       [disabled]="bAddressIdentSelected" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingAddressTwo.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Adresszeile 3</ion-label>
                            <ion-input type="text" formControlName="cShippingAddressThree"
                                       [disabled]="bAddressIdentSelected" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingAddressThree.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten
                    </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Straße*</ion-label>
                            <ion-input type="text" formControlName="cShippingStreet"
                                       [disabled]="bAddressIdentSelected" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingStreet.errors?.required"class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingStreet.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Nummer*</ion-label>
                            <ion-input type="text" formControlName="cShippingStreetNumber"
                                       [disabled]="bAddressIdentSelected" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingStreetNumber.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingStreetNumber.errors?.maxlength" class="input-invalid">Maximal-Länge von 10 Zeichen überschritten</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">PLZ*</ion-label>
                            <ion-input type="text" formControlName="cShippingZip"
                                       [disabled]="bAddressIdentSelected" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingZip.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && (errorControl.cZip.errors?.minlength || errorControl.cShippingZip.errors?.maxlength)" class="input-invalid">Ungültige Eingabe</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Stadt*</ion-label>
                            <ion-input type="text" formControlName="cShippingCity"
                                       [disabled]="bAddressIdentSelected" (ionChange)="onChange()"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cShippingCity.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cShippingCity.errors?.maxlength" class="input-invalid">Maximal-Länge von 50 Zeichen überschritten
                    </span>
                    </ion-col>
                </ion-row>
            </form>
            <ion-row>
                <ion-col size-xl="6" size-lg="12" size-md="12" size-sm="12" size-xs="12">
                    <ion-item>
                        <ion-label position="floating" class="input-label">Land*</ion-label>
                        <ion-select [(ngModel)]="oShippingCountry" [okText]="'Übernehmen'" [cancelText]="'Abrechen'"
                                    [selectedText]="oShippingCountry != null ? oShippingCountry.cNameLocale : ''"
                                    [disabled]="bAddressIdentSelected" (ionChange)="onChange()">
                            <ion-select-option *ngFor="let oShippingCountry of lCountries"
                                               [value]="oShippingCountry">{{oShippingCountry.cNameLocale}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <span *ngIf="bSubmitted && oShippingCountry == null" class="input-invalid">Pflichtfeld</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="input-block-element">
        <span class="note">Hinweis: Pflichtfelder sind mit einem Sternchen (*) markiert.</span>
    </div>
</ion-content>

<div class="simple-background">
    <div class="ion-text-center">
        <ion-button [disabled]="!bChanged" class="ion-button-outside-bottom" (click)="onSave()">Speichern</ion-button>
    </div>
</div>

