<ion-content class="input-background">
    <div class="input-block-element">
        <ion-row>
            <ion-col>
                <ion-row class="text-head">Filter</ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="input-label">Zeitraum</ion-label>
                    <ion-select [(ngModel)]="cTime" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cTime.name" (ionChange)="onTime($event)">
                        <ion-select-option *ngFor="let cTime of lTime"
                                           [value]="cTime">{{cTime.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item *ngIf="cTime.key !== 'total'">
                    <ion-label class="input-label">Auswahl</ion-label>
                    <ion-select #selectTime [(ngModel)]="cSelectTime" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cSelectTime.name" (ionChange)="onLoad()">
                        <ion-select-option *ngFor="let cSelectTime of lSelectTime"
                                           [value]="cSelectTime">{{cSelectTime.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="input-label">Region</ion-label>
                    <ion-select [(ngModel)]="cRegion" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cRegion.name" (ionChange)="onRegion($event)">
                        <ion-select-option *ngFor="let cRegion of lRegion"
                                           [value]="cRegion">{{cRegion.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item *ngIf="cRegion.key !== 'total'">
                    <ion-label class="input-label">Auswahl</ion-label>
                    <ion-select #selectRegion [(ngModel)]="oSelectRegion" [okText]="'Auswählen'"
                                [cancelText]="'Abrechen'"
                                [selectedText]="oSelectRegion != null ? oSelectRegion.cNameLocale : ''" (ionChange)="onLoad()">
                        <ion-select-option *ngFor="let oSelectRegion of lSelectRegion"
                                           [value]="oSelectRegion">{{oSelectRegion.cNameLocale}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="input-label">Typ/Branche</ion-label>
                    <ion-select [(ngModel)]="cType" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cType.name" (ionChange)="onType($event)">
                        <ion-select-option *ngFor="let cType of lType"
                                           [value]="cType">{{cType.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item *ngIf="cType.key !== 'total'">
                    <ion-label class="input-label">Auswahl</ion-label>
                    <ion-select class="myCustomSelect" #selectType [(ngModel)]="oSelectType" [okText]="'Auswählen'"
                                [cancelText]="'Abrechen'"
                                [selectedText]="oSelectType.cName" (ionChange)="onLoad()">
                        <ion-select-option *ngFor="let cSelectType of lSelectType"
                                           [value]="cSelectType">{{cSelectType.cName}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
    <div class="input-block-element" *ngIf="lData.length > 1 && !bLoading">
        <ion-row>
            <ion-col>
                <ion-row class="text-head">Auswertung</ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!bStatistics">
            <ion-col>
                    <span class="notice-important"
                    >Deine Daten sind nicht enthalten - Du kannst diese <a class="notice-important" [routerLink]="['/collector/menu/data/tabs/settings']">hier</a> freigeben
                    </span>
            </ion-col>
        </ion-row>
        <ion-grid class="ion-content-table">
            <ion-row>
                <ion-col [ngClass]="'ion-col-table-header'" size="5">
                    <div>
                        Sammler
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'" size="1.5">
                    <div>
                        Aktiv seit
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'" size="2.5">
                    <div>
                        Sammelstandorte*
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'">
                    <div>
                        Gesammelte Handys
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let row of lData">
                <ion-col [ngClass]="'ion-col-table'" size="5">
                    <div [ngClass]="{bold : row.cName == null, 'ion-col-table-selected' : isSelf(row.id)}">
                        {{row.cName != null ? row.cName : 'Summe'}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'" size="1.5">
                    <div [ngClass]="{bold : row.cName == null, 'ion-col-table-selected' : isSelf(row.id)}">
                        {{row.dStart != null ? getYearFromDate(row.dStart) : '&nbsp;'}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'" size="2.5">
                    <div [ngClass]="{bold : row.cName == null, 'ion-col-table-selected' : isSelf(row.id)}">
                        {{row.nLocations != null ? row.nLocations : ''}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'">
                    <div [ngClass]="{bold : row.cName == null, 'ion-col-table-selected' : isSelf(row.id)}">
                        {{getNumber(row.nDevices | number:'1.0':'en-US')}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="input-block-element" *ngIf="lData.length > 1 && !bLoading">
        <ion-row class="text-note">* Berücksichtigt werden nur vom jeweiligen Sammler eingetragene Sammelstandorte.
            Trage diese bitte&nbsp;<a [routerLink]="['/collector/menu/data/tabs/locations']">hier</a>&nbsp;ein und
            aktualisiere diese bei Veränderungen.
        </ion-row>
    </div>
    <ion-row *ngIf="lData.length <= 1 && !bLoading">
        <span class="search-failed">Kein Ergebnis für diese Auswahl</span>
    </ion-row>
    <div>
        <ion-spinner *ngIf="bLoading" name="bubbles"></ion-spinner>
    </div>
</ion-content>
