<ion-content class="input-background">
    <div class="input-block-element">
        <div class="block-head" *ngIf="orders.length > 0">
            <span class="text-head">Bestell-Historie</span>
        </div>
        <ion-grid class="ion-grid-table" *ngIf="orders.length > 0">
            <ion-row class="ion-row-table">
                <ion-col [ngClass]="'ion-col-table-header'" size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
                    <div>
                        Erstellt am
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header' " size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
                    <div>
                        Sendungsnummer
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row-table" *ngFor="let row of orders">
                <ion-col [ngClass]="'ion-col-table'" size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
                    <div>
                        {{row.dateCreation}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'" size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
                    <div>
                        {{row.ID_TRACKING != null ? row.ID_TRACKING : 'Noch nicht versendet'}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="block-text-information" *ngIf="orders.length == 0">
            <p [ngClass]="'text-information-two'">Du hast noch keine Bestellung getätigt</p>
        </div>
    </div>
</ion-content>
