ion-grid {
  margin-top: 32px;
  margin-left: 4px;
  margin-right: 4px;
}

ion-col {
  border-color: #BDBDBD;
  border-width: 1px;
  border-style:solid; margin-bottom : -1px;
  margin-left: -1px;
  color: #757575;
}
