<ion-content class="input-background">
    <div class="block-button-outside-top-content">
        <ion-button class="ion-button-outside" (click)="onTotal()">Gesamtabrechnung erstellen & öffnen</ion-button>
    </div>
    <div class="input-block-element" *ngIf="lYears.length > 0">
        <div class="block-head">
            <span class="text-head">Archiv</span>
        </div>
        <ion-row>
            <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                <ion-item>
                    <ion-label class="input-label">Zeitraum</ion-label>
                    <ion-select [(ngModel)]="cYear" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cYear" (ionChange)="onYear()">
                        <ion-select-option *ngFor="let cYear of lYears"
                                           [value]="cYear">{{cYear}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-grid class="ion-grid-table" *ngIf="lBills.length > 0">
            <ion-row class="ion-row-table">
                <ion-col [ngClass]="'ion-col-table-header'" size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="6">
                    <div>
                        Datum
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table-header'" size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="6">
                    <div>
                        Abrechnungs-Nummer
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row-table" *ngFor="let row of lBills">
                <ion-col [ngClass]="'ion-col-table'" size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="6">
                    <div>
                        {{getDate(row.dBill)}}
                    </div>
                </ion-col>
                <ion-col [ngClass]="'ion-col-table'" size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="6">
                    <div class="link-two" (click)="onBill(row.kBill)">
                        {{row.kBill}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="block-text-information-center" *ngIf="lYears.length == 0">
            <p [ngClass]="'text-information'">Für diese Auswahl liegen uns leider keine Daten vor</p>
        </div>
    </div>
</ion-content>
