<ion-header>
  <ion-toolbar>
    <ion-title>Handys versenden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-tabs>

    <ion-tab-bar slot="top">

      <ion-tab-button tab="add">
        <ion-icon name="add"></ion-icon>
        <ion-label>Neue Versendung</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="history">
        <ion-icon name="copy"></ion-icon>
        <ion-label>Versand-Historie</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
