<ion-content>
<ion-grid>

  <!-- Wrap -->
  <ion-row [ngClass]="'text-content'">Wir freuen uns, dass Du uns eure gesammelten Handys zusenden möchtest. Im folgenden findest du alles was Du dafür tun und beachten musst.</ion-row>
  <ion-row class="text-head">Verpacken</ion-row>
  <ion-row class="text-content">
    <p>- Bitte beachte die Mindestversandmenge von 40 Handys.</p>
    <p>- Bitte wähle einen extra Karton für den Versand - So kannst du deine Mobile-Box weiterhin zur Sammlung nutzen.</p>
    <p>- Gesammelte Handys bitte nicht aus großer Höhe schütten, sondern vorsichtig umfüllen.</p>
    <p>- Akkus bitte in den Handys belassen und lose Akkus an den goldenen Kontaktstellen mit Tesafilm abkleben.</p>
  </ion-row>

  <!-- Lithium-Notice -->
  <ion-row class="text-head">Lithium-Ionen-Warnhinweis</ion-row>
  <div class="text-content">
    <p>- Klicke bitte auf die Schaltfläche "Lithium-Ionen-Warnhinweis herunterladen" und öffne diesen.</p>
    <ion-button class=ion-button-two (click)="onClickLithiumNotice()">Lithium-Ionen-Warnhinweis herunterladen</ion-button>
    <p>- Drucke den heruntergeladenen Warnhinweis aus und klebe diese gut sichtbar auf deinen Versand-Karton.</p>
  </div>
</ion-grid>
</ion-content>
