<ion-menu contentId="main-content" type="overlay">
    <ion-content class="my-background">
        <div class="nav-header">
            <img class="image" src="assets/images/logo_mobile_box_white.png">
            <div class="my-block-text">
                <span class="nav-title">Handysammlerportal</span>
                <span class="nav-subtitle">{{oCollector != null ? oCollector.cName : ''}}</span>
            </div>

        </div>
            <ion-list id="inbox-list">
                <ion-menu-toggle *ngFor="let p of appPages; let i = index">
                    <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                        <ion-icon [ngClass]="{'selected-icon' : selectedIndex == i}" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                        <ion-label [ngClass]="{'selected-label' : selectedIndex == i}">{{ p.title }}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>

