@import '../../../../../../theme/variables';

// Input - Underline -- Not working in global settings
:host {
  .item-interactive.ion-invalid{
    --highlight-background: #FF !important;
  }
  .item-interactive.ion-valid{
    --highlight-background: #FF !important;
  }
}



.ion-button-three-inside {
  margin-top: $cube*3;
  margin-bottom: $cube*1;
  --background: $colorBackground;
  --background-hover: #8BC34A !important;
  --color-hover: #ffffff !important;
  --background-hover-opacity: 100%;
}





