<ion-content id="locations" class="input-background">
    <ion-grid *ngIf="!bEdit && !bAdd">
        <div  class="block-button-outside-top-content">
            <ion-button class="ion-button-outside" (click)="isAdding(true)">Sammelstandort hinzufügen</ion-button>
        </div>
    </ion-grid>
    <ion-grid *ngIf="bEdit || bAdd">
        <div class="block-element-top">
            <div class="block-head">
                <span class="text-head">{{bEdit ? 'Sammelstandort bearbeiten' : 'Sammelstandort hinzufügen'}}</span>
            </div>
            <form [formGroup]="fgLocation" (ngSubmit)="onSaveAdd()">

                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Name*</ion-label>
                            <ion-textarea rows="1" auto-grow="true" type="text" formControlName="cName"></ion-textarea>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cName.errors?.required"
                              class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cName.errors?.maxlength" class="input-invalid">Maximal-Länge von {{maxInput}} Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Website</ion-label>
                            <ion-textarea rows="1" auto-grow="true" type="text" formControlName="cWebsite"></ion-textarea>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cWebsite.errors?.maxlength" class="input-invalid">Maximal-Länge von {{maxInput}} Zeichen überschritten</span>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Straße*</ion-label>
                            <ion-textarea rows="1" auto-grow="true" type="text" formControlName="cStreet"></ion-textarea>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cStreet.errors?.required"
                              class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cStreet.errors?.maxlength" class="input-invalid">Maximal-Länge von {{maxInput}} Zeichen überschritten</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Nummer*</ion-label>
                            <ion-input type="text" formControlName="cStreetNumber"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cStreetNumber.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cStreetNumber.errors?.maxlength" class="input-invalid">Maximal-Länge von {{maxInput}} Zeichen überschritten</span>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">PLZ*</ion-label>
                            <ion-input type="text" formControlName="cZip"></ion-input>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cZip.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && (errorControl.cZip.errors?.minlength || errorControl.cZip.errors?.maxlength)" class="input-invalid">Ungültige Eingabe</span>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                        <ion-item lines="full">
                            <ion-label class="input-label" position="floating">Stadt*</ion-label>
                            <ion-textarea rows="1" auto-grow="true" type="text" formControlName="cCity"></ion-textarea>
                        </ion-item>
                        <span *ngIf="bSubmitted && errorControl.cCity.errors?.required" class="input-invalid">Pflichtfeld</span>
                        <span *ngIf="bSubmitted && errorControl.cCity.errors?.maxlength" class="input-invalid">Maximal-Länge von {{maxInput}} Zeichen überschritten</span>
                    </ion-col>
                </ion-row>

            </form>
            <ion-row class="ion-row-toggle">
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-item class="ion-item-toggle-check">
                        <ion-label class="ion-label-toggle">Persönliche Anrede*</ion-label>
                        <ion-toggle [(ngModel)]="bAccess" checked="{{bAccess}}"
                                    [ngModelOptions]="{standalone: true}"
                                    (ionChange)="onToggleAccess($event)"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-row-buttons">
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-button class="ion-button-one-inside" (click)="bAdd ? onSaveAdd() : onSaveEdit()">{{bAdd ? 'Hinzufügen' : 'Änderungen übernehmen'}}</ion-button>
                </ion-col>
                <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                    <ion-button class="ion-button-two-inside" (click)="bAdd ? isAdding(false) : isEditing(false)">Abbrechen
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>

    <ion-grid *ngIf="lLocationsActive.length > 0">
        <div [ngClass]="lLocationsNotActive.length > 0 ? 'block-element' : 'block-element-bottom'" >
            <div class="block-head">
                <span class="text-head">Aktive Sammelstandorte</span>
            </div>
            <div class="list-block">
                <app-location (ping)="ping($event)" [oLocation]="location"
                              *ngFor="let location of lLocationsActive"></app-location>
            </div>
        </div>
    </ion-grid>

    <ion-grid *ngIf="lLocationsNotActive.length > 0">
        <div class="block-element-bottom" >
            <div class="block-head">
                <span class="text-head">Inaktive Sammelstandorte</span>
            </div>
            <div class="list-block">
                <app-location (ping)="ping($event)" [oLocation]="location" *ngFor="let location of lLocationsNotActive"></app-location>
            </div>
        </div>
    </ion-grid>

</ion-content>

