<ion-header>
  <ion-toolbar>
    <ion-title>Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <p>Fast geschafft. Bitte bestätige abschließend Deine E-Mail Adresse. Öffne dazu die Bestätigungs-Mail die wir Dir zugesendet haben und klicke auf den enthaltenen
    Link. Wenn du keine E-Mail erhalten hast, dann kicke bitte auf den unteren Button.</p>
  </ion-row>
<ion-button (click)="mailVerification()">Bestätigungs-Email erneut senden</ion-button><ion-button (click)="checkVerification()">Ich habe meine E-Mail Adresse bestätigt</ion-button>
</ion-content>
