/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'theme/variables';

// Text
$textPrimary: #212121;
$textSecondary: #afafaf;
$textTertiary: #BDBDBD;

// General
$brown: #fff329;
$white: #ffffff;
$green: #8BC34A;
$greenLight: #a5d274;
$red: #c34a4a;
$background: #f6f6f6;

// Special
$divider: #BDBDBD;

ion-title {
  color: $white;
}

p {
  line-height: 14px;
}

ion-select {
  max-width: 90% !important;
}

ion-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $green;
}

.ion-col-table-header {
  background: #a8d27a;
  color: $white !important;
  border-color: #dbdbdb !important;
  border-width: 1px !important;
  border-style: solid;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
}

.ion-col-table {
  border-color: #dbdbdb !important;
  border-width: 1px !important;
  border-style: solid;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  color: #757575 !important;
}

.ion-content-table {
  margin-top: 1rem;
}

.ion-col-table-selected {
  color: $green;
}

.search-failed {
  color: $textSecondary;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.text-head {
  color: #8BC34A;
  font-size: 22px;
  display: inline;
  font-weight: 300;
}

.text-list {
  color: $textSecondary;
  font-size: 14px;
  line-height: 1.5;
}

.text-block-element {
  background: #f6f6f6;
  border-radius: 8px;
  padding: 16px;
  width: 75%;
  margin: 32px auto;
}

.text-inside-block-element {
  background: #f6f6f6;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

b {
  font-weight: 500;
}

.text {
  font-size: 13px;
  color: #212121;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.text-secondary {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #afafaf;
  line-height: 18px;
  text-align: justify;
}

.ion-row-buttons {
  text-align: center;
  margin-top: 2rem;

}

.ion-col-button {
  align-self: center;
  text-align: center;
}

.text-block {
  margin: 0.75rem;
  margin-top: 2rem;
  text-align: justify;
}

.no-underline {
  --highlight-background: transparent;
}


// Input
.input-label {
  --color: #757575 !important;
  --margin-bottom: 8px;
}

.checkbox-label {
  --color: #212121 !important;
  --margin-bottom: 8px;
}

.law-label {
  --color: #212121 !important;
  --margin-bottom: 8px;
  font-style: italic;
}

.input-block-element {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  width: 75%;
  margin: 32px auto;
}

.input-background {
  --background: #f6f6f6;
  background: #f6f6f6;

}

.input-invalid {
  color: $red;
  font-size: 11px;
  margin-left: 16px;
  display: block;
  margin-top: 0.5rem;
}

.password-invalid {
  color: #c34a4a;
  font-size: 11px;
}

.password-valid {
  color: #8BC34A;
  font-size: 11px;
}

.password-inactive {
  color: #BDBDBD;
  font-size: 11px;
}

.input-info {
  color: $textTertiary;
  font-size: 11px;
  margin-left: 16px;
}

.notice-important {
  color: $red;
  font-size: 12px;
}

.input-info {
  color: $textTertiary;
  font-size: 11px;
  margin-left: 16px;
}

.link {
  color: $green;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  z-index: 10;
}


.text-page-information {
  color: $textSecondary;
  size: 28px;
  text-align: center;
  padding-top: 32px;
}

.text-tertiary {
  color: $textTertiary;
}

ion-button {
  width: 80%;
}

.ion-button-deactivated {
  width: 500px;
  margin-top: 32px;
  --background: #757575;
}

.ion-button-two {
  --color: #8BC34A;
  --background: white;
  --ion-text-color: #8BC34A;
  border: 1px solid $green;
  border-radius: 4px;
  width: 80%;
  --box-shadow: white;
}

.ion-button-three {
  --color: #8BC34A;
  --background: white;
  --ion-text-color: #8BC34A;
  width: 80%;
  --box-shadow: white;
}

.button-four {
  --color: #afafaf;
  --background: white;
  --ion-text-color: #afafaf;
  --box-shadow: white;
  width: 80%;
  border: 1px solid #afafaf;
  border-radius: 4px;
  --box-shadow: white;
}

.button-four:hover {
  --color: #8BC34A;
  --ion-text-color: #8BC34A;
  border: 1px solid $green;
}

.my-alert .alert-wrapper {
  //min-width: 350px !important;
  justify-content: center;

  .alert-button-group {
    justify-content: center;
  }

  .alert-sub-title {
    font-size: 16px;
    color: $textSecondary;
    margin-top: 1rem;
    text-align: center;
  }


  .alert-message {
    font-size: 16px;
    margin-top: 1rem;
    text-align: center;
    color: $textPrimary;
  }

  .alert-title {
    font-weight: 500;
    font-size: 20px;
    color: $textPrimary;
    text-align: center;
  }
}

.footer {
  display: inline-flex;
  transform: translateY(-100%);
  flex-direction: column;
  background-color: #a5d274;
  height: 50px !important;
  min-height: 50px !important;
  bottom: 0px !important;
  align-items: center;
  padding-bottom: 0.5rem;
  width: 100%;
  justify-content: center;
}

.scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  display: flex;             // added by me
  flex-direction: column;    // added by me
}

.lower-content {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.toolbar-subtitle {
  font-size: 12px;
  margin-top: 0.125rem;
  font-style: normal;
}

.toolbar-icon {
  color: white;
}

.my-toast {
  --background: #565650;
  --border-color: #FF;
  --border-radius: 0px;
  --border-style: solid;
  --border-width: 0px;
  font-size: 16px;
  --button-color: #FFDD00;
  --color: #e7e7e7;
  text-align: center;
}

.default-content-margin {
  margin: 16px;
}

ion-item {
  --border-color: #cbcbcb;
  padding-top: 12px;
}

ion-back-button {
  color: white;
}

.text-note {
  color: $textTertiary;
  font-size: 13px;
  line-height: 1.5;
}

ion-toggle {
  margin-left: 0px !important;
  padding-left: 0px !important;
  --background-checked: #d9d9d9;
  --background: #d9d9d9;

  --handle-background: white;
}

.ion-select-option .alert-wrapper {
  .alert-button-group {
    justify-content: center;
  }
  width: 100% !important;
  max-width: 100% !important;
}

.alert-wrapper {
  width: 40% !important;
  max-width: 100% !important;
}

.simple-background {
  background: #f6f6f6;
}

.bold {
  font-weight: bold;
}

ion-toolbar ion-menu-button {
  color: var(--ion-color-primary-contrast);
}

.center {
  justify-content: center;
}

/*
h2 {
  margin-left: 0.5rem;
  display: inline;
  align-self: center;
}

 */

.block-head {
  display: flex;
  align-items: center;
  margin-top:0.75rem;
  margin-left:0.75rem;
}

.icon-head {
  margin-left: 1rem;
  color: #afafaf;
  align-self: center;
  cursor: pointer;
}

.icon-head:hover {
  color: $green;
}

.footer-element {
  margin-top: 0.125rem;
  font-size: 10px;
  display: flex;
  align-items: center !important;
  color: white;
  font-weight: 300;
}

.footer-element-link {
  cursor: pointer;
}

.footer-element-link:hover {
  text-decoration: underline;
}

.footer-element-title {
  margin-top: 0.125rem;
  font-size: 12px;
  display: flex;
  align-items: center !important;
  color: white;
  font-weight: 400;
}










