/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Text
$textPrimary: #212121;
$textSecondary: #757575;
$textTertiary: #BDBDBD;

// General
$brown: #fff329;
$white: #ffffff;
$green: #8BC34A;
$greenLight: #a5d274;
$red: #c34a4a;

// Special
$divider: #BDBDBD;

ion-title {
  color: $white;
}

p {
  line-height: 14px;
}

ion-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $green;
}

.ion-col-table-header {
  background: $textSecondary;
  color: $white !important;
  border-color: #dbdbdb !important;
  border-width: 1px !important;
  border-style:solid; margin-bottom : -1px !important;
  margin-left: -1px !important;
}

.ion-col-table {
  border-color: #dbdbdb !important;
  border-width: 1px !important;
  border-style:solid; margin-bottom : -1px !important;
  margin-left: -1px !important;
  color: #757575 !important;
}

.text-head {
  color: $textPrimary;
  font-size: 18px;
  margin-bottom: 8px;
}

.text-list {
  color: $textSecondary;
  font-size: 14px;
  line-height: 1.5;
}

.text-block-element {
  background: #f1f1f1;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px;
}

.no-underline {
  --highlight-background: transparent;
}



// Input
.input-label {
  --color: #757575 !important;
  --margin-bottom: 8px;
}

.input-block-element {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin: 32px !important;
}

.input-background {
  --background: #f1f1f1;
  background: #f1f1f1;
}

.input-invalid {
  color: $red;
  font-size: 11px;
  margin-left: 16px;
}

.input-info {
  color: $textTertiary;
  font-size: 11px;
  margin-left: 16px;
}



.text-page-information {
  color: $textSecondary;
  size: 28px;
  text-align: center;
  padding-top: 32px;
}

.text-tertiary {
  color: $textTertiary;
}

ion-button {
  width: 500px;
  margin-top: 32px;
}

.ion-button-deactivated {
  width: 500px;
  margin-top: 32px;
  --background: #757575;
}

.ion-button-two {
  --color: #8BC34A;
  --background: white;
  --ion-text-color: #8BC34A;
  border: 1px solid $green;
  border-radius: 4px;
  width: 500px;
  --box-shadow: white;
  margin-top: 20px;
}

.ion-button-three {
  --color: #8BC34A;
  --background: white;
  --ion-text-color: #8BC34A;
  width: 500px;
  --box-shadow: white;
  margin-top: 24px;
}

.my-alert .alert-wrapper {
  min-width: 350px !important;
  .alert-button-group {
    justify-content: center;
  }
  .alert-sub-title {
    //text-align: center;
  }
  /*
  .alert-message {
    text-align: center;
  }
  */
  .alert-title {
    //text-align: center;
  }
}

.my-toast{
  --background: #565650;
  --border-color:#FF;
  --border-radius:0px;
  --border-style:solid;
  --border-width:0px;
  font-size: 16px;
  --button-color:#FFDD00;
  --color: #e7e7e7;
  text-align: center;
}

.default-content-margin {
  margin: 16px;
}

ion-item {
  --border-color: #cbcbcb;
}


.text-note {
  color: $textTertiary;
  font-size: 13px;
}

ion-toggle {
  --background-checked: #d6d6d6;
  --background: #d6d6d6;

  --handle-background: #aeaeae;
}

.ion-select-option.alert-wrapper {
  .alert-button-group {
    justify-content: center;
  }
  width: 100% !important;
  max-width: 100% !important;
}

.alert-wrapper {
  width: 40% !important;
  max-width: 100% !important;
}









