<ion-content class="input-background">
    <ion-grid>
        <div class="block-element-single">
            <div class="block-head">
                <span class="text-head">Dokumente</span>
            </div>
            <div class="block-text">
                <p (click)="onBecomeCollector()"><span class="link-two">Sammler werden</span></p>
                <p (click)="onInformationForCollector()"><span class="link-two">Informationen für Sammler</span></p>
            </div>
        </div>
    </ion-grid>
</ion-content>
