<ion-content class="input-background">
    <div class="input-block-element" *ngIf="lSelectTime.length > 0">
        <div class="block-head">
            <span class="text-head">Einstellungen</span>
        </div>
        <ion-row>
            <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                <ion-item>
                    <ion-label class="input-label">Zeitraum</ion-label>
                    <ion-select [(ngModel)]="cTime" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cTime.name">
                        <ion-select-option *ngFor="let oTime of lTime" [value]="oTime">{{oTime.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
                <ion-item *ngIf="cTime.key !== 'total'">
                    <ion-label class="input-label">Auswahl</ion-label>
                    <ion-select [(ngModel)]="cSelectTime" [okText]="'Auswählen'" [cancelText]="'Abrechen'"
                                [selectedText]="cSelectTime">
                        <ion-select-option *ngFor="let selectTime of lSelectTime"
                                           [value]="selectTime">{{selectTime}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-row-buttons">
            <ion-col>
                <ion-button class="ion-button-one-inside" (click)="onCertificate()">Urkunde erstellen & öffnen</ion-button>
            </ion-col>
        </ion-row>
    </div>

    <div class="input-block-element" *ngIf="lSelectTime.length == 0">
        <div class="block-text-information">
            <p [ngClass]="'text-information'">Es wurden bisher noch keine Handys gesammelt</p>
        </div>
    </div>
</ion-content>
