<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" (click)="onBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="input-background">
    <div class="input-block-element">
      <div class="block-head">
        <span class="text-head">Angaben gemäß §5 Telemediengesetz</span>
      </div>

      <div class="text-block">
        <p class="text"><b>Schumacher & von Pidoll GmbH</b></p>
        <p class="text">Vogelsanger-Straße 282</p>
        <p class="text">50825 Köln</p>
        <p class="text">Deutschland</p>
        <br/>
        <p class="text"><b>Vertreten durch die Geschäftsführer:</b></p>
        <p class="text">Till von Pidoll und Eric Schumacher</p>
        <br/>
        <p class="text-secondary"><b>Eingetragen im Handelsregister des Amtsgerichtes Köln</b></p>
        <p class="text-secondary">Handelsregisternummer: HRB 92081</p>
        <p class="text-secondary">Umsatzsteuer-Identifikationsnummer: DE323700310</p>
      </div>
    </div>

  <div class="input-block-element">
    <div class="block-head">
      <span class="text-head">Kontakt</span>
    </div>

    <div class="text-block">
      <p class="text"><b>Eric Schumacher</b></p>
      <p class="text">Telefon: (+49)221-168930-45</p>
      <p class="text">E-Mail: sammlung@mobile-box.eu</p>
    </div>
  </div>



</ion-content>
